@import "tailwindcss";

@theme {
  --color-primary: #004bb1;
  --color-secondary: #000000;
  --color-white: #ffffff;

  --font-sfpro: "SF Pro Display", sans-serif;
  --font-display: "SF Pro Display", sans-serif; /* Optional if you want it as the default display font */
}

.font-sfpro {
  font-family: var(--font-sfpro);
}
